.section__contact {
  &--head {
    margin-top: 35px;

    h1,
    a {
      font-size: 30px;
    }
  }

  &--body {
    margin-top: 50px;

    .section__border--content {
      //padding-top: 20px;
    }

    .form__field--label {
      margin-top: 30px;
    }

    .section__border--system {
      border-top: 0 none;
    }
  }

  &--submit {
    margin-top: 20px;
    text-align: center;

    .btn {
      padding: 14px 75px 8px;
      text-decoration: none;
      display: inline-block;
      font-size: 21px;
    }
  }

  .reg-field__popup {
    right: auto;
    top: 100%;
    left: 0;
    margin-top: 10px;

    &::before {
      left: 70px;
      top: -5px;
    }
  }
}

.section__about {
  &--reviews {
    &.reviews__form--hide {
      .about__reviews--form {
        display: none;
      }

      .section__nav--help {
        display: block;
      }
    }

    .section__nav--top {
      padding-top: 50px;
    }

    .section__nav--help {
      bottom: -3px;
      display: none;
    }

    .section__nav--bottom {
      padding: 50px 0 30px;
    }
  }
}

.about__reviews {
  &--item {
    margin-top: 40px;
    margin-left: ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
    padding-top: 30px;
    padding-left: ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
    border-top: 1px dotted rgba(182, 182, 187, 0.5);

    &:first-child {
      margin-top: 15px;
      border-top: 0 none;
    }
  }

  &--name {
    font-size: 16px;
  }

  &--title {
    margin-top: 5px;
    font-size: 22px;
    font-weight: bold;
  }

  &--message {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.35;

    // @todo.
    p {
      margin: 0;
    }
  }

  &--publish {
    margin-top: 15px;
    text-align: right;
    font-size: 16px;
  }

  &--form {
    margin-left: ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
    padding-left: ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
    padding-bottom: 45px;
    border-bottom: 1px dotted rgba(182, 182, 187, 0.5);

    .form__field--label {
      margin-top: 35px;
    }

    textarea {
      height: 32px * 3;
    }
  }

  &--submit {
    margin-top: 20px;
    text-align: center;

    .btn {
      padding: 14px 75px 8px;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      font-size: 21px;
    }

    .about__reviews--cancel {
      cursor: pointer;
      opacity: 0.7;
      margin-top: 5px;
      margin-left: 20px;
      display: inline-block;
      vertical-align: middle;

      &:hover {
        opacity: 1;
      }

      svg {
        .st0 {
          fill: #c6c6c6;
        }

        .st1 {
          fill: none;
          stroke: #201600;
          stroke-miterlimit: 10;
        }
      }
    }
  }
}
