.user {
  &__photo {
    img {
      display: block;
      border-radius: 100%;
    }
  }

  &__name {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
  }
}

.forum {
  $user-avatar-width: 150px;

  &__reply {
    &--hide {
      display: none;
    }
  }

  &__form {
    padding-top: 5px;

    .form__field--editor {
      margin-top: 40px;

      &.form__field--single {
        margin-top: 0;
      }
    }
  }

  &__nav {
    min-height: 27px;

    .section__nav--help {
      bottom: -4px;
    }
  }

  &__pager {
    padding-top: 35px;
  }

  &__list {
    margin-left: ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
  }

  &__item {
    margin-top: 20px;
    padding: 35px ($grid-gutter-width * 1.5) 15px;
    border-top: 1px dotted #b6b6bb;

    &:first-child {
      margin-top: 0;
      border-top: 0 none;
    }
  }

  &__body {
    padding-left: $user-avatar-width;

    @include clearfix;
  }

  &__user,
  &__content {
    float: left;
  }

  &__user {
    margin-left: -$user-avatar-width;
  }

  &__content {
    padding-left: 25px;
    width: 100%;
    box-sizing: border-box;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
  }

  &__text {
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.35;

    //@todo
    p {
      margin: 0.7em 0 0;
    }
  }

  &__footer {
    margin-top: 20px;

    @include clearfix;
  }

  &__action {
    float: left;
    text-align: center;
  }

  &__btn {
    font-size: 0;
  }

  &__answers {
    margin-top: 10px;
    font-size: 16px;
    color: #e4a445;
    opacity: 0.95;

    &--publish {
      margin-top: 5px;
      text-align: center;
      font-size: 16px;
      color: #232323;
      opacity: 0.5;
    }
  }

  &__signature {
    float: right;
    padding-top: 2px;
    text-align: right;
    font-size: 16px;
    line-height: 1.7;

    &--single {
      @extend .forum__signature;

      padding-top: 15px;

      .forum__user {
        float: none;
        margin-left: 0;
      }
    }
  }
}

.answers {
  .forum__text {
    margin-top: 0;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    img {
      display: block;
      height: auto;
      max-width: 100%;
    }

    iframe {
      display: block;
      max-width: 100%;
    }
  }

  .section__body {
    padding-bottom: 0;
  }
}
