.video {
  &__title {
    font-size: 32px;
    font-weight: bold;
  }

  &__content {
    margin-top: 50px;
    position: relative;
    display: block;

    .kgvid_wrapper {
      margin: 0;
    }
  }

  &__message {
    margin-top: 60px;
    font-size: 20px;

    &--widget {
      margin-top: 10px;
      text-align: center;
      font-size: 16px;
      color: #8c8f94;
    }
  }

  &__prev,
  &__next {
    opacity: 0.1;
    position: absolute;
    top: 50%;
    margin-top: -39px;
  }

  &__prev {
    left: -70px;
  }

  &__next {
    right: -70px;
  }

  .kgvid_video_meta {
    box-sizing: border-box;
  }
}

.lessons {
  @include clearfix;

  &__levels,
  &__videos {
    float: left;
    box-sizing: border-box;
  }

  &__levels {
    width: 40%;
  }

  &__videos {
    width: 60%;
  }

  &__nav {
    .lessons__levels {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        border-right: 1px solid #b6b6bb;
      }
    }

    select {
      padding: 4px 0 0 20px;
      color: #8c8f94;
      font-size: 13px;
      font-weight: 300;
      line-height: 32px;
      width: 100%;
      border: 0;
      border-bottom: 2px solid #9e9d9d;
      border-radius: 0;
      outline: 0;
      appearance: none;
      background: url("#{$path-images}/select.png") 97% 12px no-repeat;
      background-color: transparent;
    }

    input {
      padding: 4px 0 0 20px;
      color: #8c8f94;
      font-size: 13px;
      font-weight: 300;
      line-height: 32px;
      width: 100%;
      border: 0;
      outline: 0;
      border-bottom: 2px solid #9e9d9d;
      border-radius: 0;
      appearance: none;
      background-color: transparent;

      box-sizing: border-box;
    }
  }

  &__content {
    @include clearfix;

    position: relative;
    padding-bottom: 30px;

    .lessons__videos {
      &::after {
        content: "";
        position: absolute;
        margin-left: -3px;
        top: 0;
        bottom: 0;
        border-right: 1px solid #b6b6bb;
      }
    }

    .lessons__levels,
    .lessons__videos {
      padding-top: 16px;
    }

    .lessons__levels {
      &.all-lessons {
        .lessons__levels--item {
          margin-top: 0;
        }

        .lessons__levels--name {
          display: none;
        }

        .lessons__levels--dropdown {
          margin-bottom: 0;
          display: block;

          &,
          & li {
            padding-left: 0;
          }

          a {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }

  .lessons__levels--list {
    margin: 0;
    padding: 0;
    display: block;
  }

  .lessons__levels--item {
    margin: 6px 0 0;
    padding: 0;
    display: block;
    list-style-type: none;

    &.active {
      .lessons__levels--name a {
        color: #6d79a3;
        text-decoration: underline;
      }

      .lessons__levels--dropdown {
        display: block;
      }
    }

    .lessons__levels--dropdown {
      display: none;
      margin: 0 0 12px;
      padding: 0 0 0 20px;

      li {
        margin: 5px 0 0;
        padding: 0 0 0 5px;
        list-style-type: none;
      }

      a {
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 12px;
        line-height: 14px;
        font-weight: 300;
        color: #000703;

        &::before {
          content: "-";
          position: absolute;
          margin-top: -6px;
          top: 7px;
          left: -9px;
        }
      }
    }
  }

  .lessons__levels--name a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: #000703;
  }

  .lessons__videos {
    font-size: 12px; // for list order.
    line-height: 1.2;
    color: rgba(32, 22, 0, 0.5);

    &--list {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 45px;
    }

    &--item {
      margin-top: 5px;
      padding-left: 5px;
      position: relative;
    }

    &--checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;
      margin: 10px 0 0 20px;

      &:checked + .lessons__videos--text::before {
        content: "";
        position: absolute;
        top: 7px;
        left: -40px;
        width: 9px;
        height: 9px;
        background-color: #e4a445;
        border-radius: 2px;
      }
    }

    &--text {
      position: relative;
      cursor: pointer;
      font-size: 15px;
      color: #201600;

      /*
      &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -42px;
        width: 11px;
        height: 11px;
        border: 1px solid #b6b6bb;
        border-radius: 2px;
      }
      */
    }
  }

  &__webinars {
    display: block;
  }

  &__modal {
    padding: 0 85px;
    width: 994px;
    box-sizing: border-box;

    .video-js {
      outline: 0 none !important;
    }
  }

  &__widget {
    &--list {
      padding: 35px 8px;

      @include clearfix;
    }

    &--item {
      float: left;
      padding: 0 8px;
      width: 20%;
      box-sizing: border-box;
    }

    &--full {
      display: block;

      &-title {
        font-size: 30px;
        color: #3a3129;
      }

      &-content {
        font-size: 20px;
        line-height: 1.35;

        .kgvid_video_meta {
          box-sizing: border-box;
        }
      }
    }
  }
}

.lessons__tags {
  margin-left: floor(($grid-gutter-width / -2));
  margin-right: ceil(($grid-gutter-width / -2));
  padding-left: floor(($grid-gutter-width / 2));
  padding-right: ceil(($grid-gutter-width / 2));
  border-top: 1px dotted #b6b6bb;
  position: relative;
}

.tags {
  @include clearfix;

  &__left,
  &__right {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  &__left {
    width: 22%;
    padding-right: 30px;
  }

  &__title {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    color: #3a3129;
  }

  &__right {
    width: 78%;
    padding-top: 5px;
    padding-left: 30px;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      bottom: 0;
      margin-left: -30px;
      border-left: 1px solid #b6b6bb;
    }
  }

  &__group {
    margin-top: 10px;
  }

  &__letter {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #e4a445;
  }

  &__items {
    color: #8c8f94;
    font-size: 12px;
  }
}

.faq {
  border-top: 1px dotted #b6b6bb;
  margin: 10px -15px 0;
  padding: 0 15px 15px;
  position: relative;

  @include clearfix;

  &__head,
  &__content {
    float: left;
    box-sizing: border-box;
  }

  &__head {
    padding-right: 30px;
    width: 30%;
  }

  &__title {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    color: #3a3129;
  }

  &__content {
    padding-left: 30px;
    width: 70%;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      bottom: 0;
      margin-left: -30px;
      border-left: 1px solid #b6b6bb;
    }
  }

  &__list {
    margin-top: 40px;
  }

  &__item {
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
  }

  &__question {
    a {
      font-weight: 400;
      text-decoration: none;
      color: #201600;

      &:hover {
        color: #967032;
      }
    }
  }

  &__answer {
    display: none;
    font-size: 12px;
    line-height: 1.3;
    color: #8c8f94;
  }
}

.webinars {
  &__pager {
    margin-top: 30px;
  }

  &__row {
    &:first-child {
      margin-top: 0;

      .webinars__col {
        padding-top: 0;
      }
    }
  }

  &__col {
    padding: 25px $grid-gutter-width;
    padding-left: 17px;

    &:first-child {
      padding-left: $grid-gutter-width;
      padding-right: 17px;
    }

    .kgvid_wrapper {
      margin: 0;
    }

    .kgvid_video_meta {
      box-sizing: border-box;
    }
  }

  &__image {
    &--widget {
      min-height: 115px; // @todo.
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__body {
    padding: 0 20px;
  }

  &__date {
    margin-top: 10px;
    font-size: 14px;
  }

  &__text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.25;
    color: #8c8f94;

    & > *:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__footer {
    margin-top: 55px;
    margin-bottom: 40px;
  }
}
