.section__materials {
  &--menu {
    .page__menu {
      border-bottom: 0 none;
    }
  }

  &--aggregator {
    margin-top: 0;

    .section__border--title {
      margin-top: 40px;
      font-size: 22px;
    }

    .section__border--system {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &--books {
    margin-top: 0;
  }

  &--articles {
    margin-top: 0;

    .section__border--title {
      margin-top: 20px;
      font-size: 22px;
    }

    .section__border--image {
      margin-top: 20px;

      img {
        width: 100%;
      }
    }

    .section__border--system {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.materials__aggregator {
  &--row {
    margin-top: 20px;
  }

  &--col {
    padding-bottom: 20px;
  }

  &--image {
    img {
      height: 290px; //@todo.
      width: 100%;
    }
  }

  &--title {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #8c8f94;
  }

  .section__border--more {
    margin-top: 0;
  }

  .section__faq--list {
    margin-top: 0;
    margin-bottom: 20px;

    .section__faq--item {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.materials__books {
  &--row {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }
  }

  &--col {
    padding: 0 20px;
  }

  &--image {
    img {
      height: 327px; //@todo
      width: 100%; //@todo
    }
  }

  &--title {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #8c8f94;
  }

  &--pager {
    margin-top: 65px;
  }
}

.materials__articles {
  // article lists
  $side-height: 180px;

  &--list {
    padding-bottom: 60px;
  }

  &--item,
  &--full {
    margin-top: 25px;
    padding-top: 25px;
    margin-left: ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
    padding-left: ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
    border-top: 1px dotted #b6b6bb;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: 0 none;
    }
  }

  &--item {
    display: flex;
  }

  &--full {
    & .materials__articles--content {
      width: auto;
      padding-left: 0;
    }
  }

  &--side {
    width: 30%;

    img {
      width: 100%; //@todo
      display: block;
      // img size: 298x190
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding-left: 20px;
  }

  &--title {
    font-size: 22px;
    font-weight: 400;
  }

  &--text {
    margin-top: 5px;
    line-height: 1.5;
    font-size: 14px;
    color: #8c8f94;

    p {
      margin: 1.2em 0 0;

      &:first-child {
        margin: 0;
      }
    }
  }

  &--more {
    margin-top: 10px;

    a {
      font-weight: 400;
      text-decoration: none;
    }
  }

  &--pager {
    margin: 0 0 35px;
  }

  // single article
  &--body {
    padding-top: 25px;
    font-size: 20px;
    line-height: 1.35;

    // @todo.
    *:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &--footer {
    @include clearfix;
    margin: 55px 0 30px;
  }

  &--date {
    float: left;
    font-size: 16px;
  }

  &--back {
    float: right;
    line-height: 19px;

    a {
      display: inline-block;
      color: #232323;
      text-decoration: none;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      svg,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        margin-right: 10px;
      }

      span {
        padding-top: 2px;
      }
    }
  }
}

.material {
  @include clearfix;

  &__divider {
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px dotted #b6b6bb;
    position: relative;

    @include clearfix;

    &:first-child {
      margin-top: 0;
    }

    .material__title {
      margin-top: 20px;
      font-size: 22px;
    }
  }

  &__col {
    float: left;
    box-sizing: border-box;
    padding-left: floor(($grid-gutter-width / 2));
    padding-right: ceil(($grid-gutter-width / 2));

    &--left,
    &--right {
      padding-top: 25px;
    }

    &--left {
      padding-top: 20px;
      padding-right: $grid-gutter-width;
      width: 30%;
    }

    &--right {
      position: relative;
      padding-left: $grid-gutter-width;
      width: 70%;

      &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        bottom: 0;
        border-left: 1px solid #b6b6bb;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    color: #3a3129;
  }

  &__image {
    margin-top: 20px;

    img {
      width: 100%;
    }
  }

  &__body {
    font-size: 20px;
    line-height: 1.35;

    // @todo.
    *:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &__footer {
    padding-top: 55px;

    @include clearfix;
  }

  &__date,
  &__back {
    line-height: 19px;
  }

  &__date {
    float: left;
    font-size: 16px;
  }

  &__back {
    float: right;

    a {
      display: inline-block;
      color: #232323;
      text-decoration: none;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      svg,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        margin-right: 10px;
      }

      span {
        padding-top: 2px;
      }
    }
  }
}
