.register__form {
  margin-top: 20px;

  // @rewrite default.
  .section__border {
    &--system {
      border-top: 0;

      @include clearfix;
    }

    &--bar {
      padding-bottom: 40px;
      width: 45%;
    }

    &--content {
      padding: 0 0 40px 40px;
      width: 55%;
    }

    &--title {
      font-weight: 300;
    }
  }

  // Main column
  &--set {
    margin-top: 60px;
  }

  .form__field {
    margin-top: 30px;
  }

  // Price column
  .register__price--list {
    margin-top: 65px;
  }

  .register__price--item {
    margin-top: 45px;
  }

  .register__price--description {
    font-size: 15px;
    line-height: 1.4;
    color: #4f4f4f;
  }


  // Footer.
  &--footer {
    margin-top: 20px;

    .register__form--line {
      margin: 10px 0 0;
      padding-right: 60px;

      @include clearfix;
    }

    .register__form--submit {
      margin-top: 15px;
      padding-top: 0;
      border-top: 0;
      text-align: left;

      .btn--over-size {
        padding: 18px 77px 12px;
        //border-radius: 5px;
        font-size: 22px;
      }
    }
  }

  &--text {
    // Used as label on radio or checkbox
    margin-top: 20px;
    font-size: 16px;
  }

  &--submit {
    margin-top: 20px;
    margin-left: floor(($grid-gutter-width / -2));
    margin-right: ceil(($grid-gutter-width / -2));
    padding-left: floor(($grid-gutter-width / 2));
    padding-right: ceil(($grid-gutter-width / 2));
    padding-top: 25px;

    border-top: 1px dotted #b6b6bb;

    input {
      text-align: center;
      display: inline-block;
      font-weight: 300;
      border: 0 none;
      outline: 0;
    }
  }
}

.section__user--form {
  .register__form--head {
    position: relative;

    h2 {
      padding-right: 80px;
    }

    .register__head--exit {
      position: absolute;
      top: 12px;
      right: 5px;
    }
  }

  .section__border--system {
    border-top: 1px dotted #b6b6bb;
  }
}

.register__head--exit {
  a {
    display: block;

    &:hover {
      svg {
        fill: #e4a445;
      }
    }
  }

  svg {
    display: block;

    .st1 {
      font-size: 16px;
    }

    .st2 {
      opacity: 0.5;
    }
  }
}

