@function get-column-name($class, $index: 1) {
  @if ($class == null) {
    @return ".col-#{$index}";
  }
  @else {
    @return ".col-#{$class}-#{$index}";
  }
}

@mixin make-column-style($columns, $class, $list, $index: 1) {
  @for $index from (1 + 1) through $columns {
    @if ($class == null) {
      $list: "#{$list}, .col-#{$index}";
    }
    @else {
      $list: "#{$list}, .col-#{$class}-#{$index}";
    }
  }

  #{$list} {
    float: left;
    padding-left: floor(($grid-gutter-width / 2));
    padding-right: ceil(($grid-gutter-width / 2));
    box-sizing: border-box;
  }
}

@mixin calculate-grid($columns, $class) {
  @for $index from 1 through $columns {
    $column-name: get-column-name($class, $index);

    #{$column-name} {
      width: percentage(($index / $columns));
    }
  }
}

@mixin make-grid($columns, $class:null) {
  $column-name: get-column-name($class);

  @include make-column-style($columns, $class, $column-name);
  @include calculate-grid($columns, $class);
}

