@mixin placeholder {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    @content;
  }

  :-ms-input-placeholder { /* IE 10+ */
    @content;
  }

  :-moz-placeholder { /* Firefox 18- */
    @content;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.force__gutter {
  padding: 0 $grid-gutter-width;
}
