.footer {
  margin-top: 20px;
  color: #9e9d9d;

  a {
    color: #9e9d9d;

    &:hover {
      color: #e4a445;
    }
  }

  &__content {
    padding-bottom: 25px;
    background-color: #e9e9e9;
  }

  &__main {
    @include clearfix;
  }

  &__nav {
    float: left;
    padding-top: 10px;
    font-size: 13px;

    .navigation__list {
      a {
        padding: 20px 10px;
        background-color: transparent;
        text-decoration: none;

        &::after {
          display: block;
        }
      }
    }
  }

  &__social {
    padding-top: 33px;
    padding-right: 20px;
    float: right;

    &--list {
      @include clearfix;
    }

    &--item {
      margin-left: 15px;
      float: left;

      a {
        display: block;
        width: 41px;
        height: 42px;
        font-size: 0;
        background-image: url("#{$path-images}/social.png");
        background-repeat: no-repeat;
        opacity: 0.8;
      }
    }

    &--google {
      background-position: -56px 0;
    }

    &--vk {
      background-position: -112px 0;
    }

    &--twitter {
      background-position: -168px 0;
    }
  }

  &__copyright {
    margin-top: -8px; // @TODO.
    padding: 0 10px; // as menu padding
    font-size: 13px;
  }
}
