/**
 * Header main.
 */
.header {
  // @DEFAULTS.
  $logo-width: 260px;
  font-weight: 300;
  font-size: $header--default-font-size;
  color: $header--default-color;

  a {
    text-decoration: none;
    color: $header--default-color;

    &:hover {
      color: $header--inverse-color;
    }
  }

  .btn:hover { // if btn in `header` as link.
    color: $header--default-color;
  }

  .auth__visible {
    font-size: $header--small-font-size;
  }

  // @APPEARANCE
  &_container {
    min-height: 282px;
    background: url("#{$path-images}/header.jpg") top center no-repeat;
  }

  // @CUSTOM.
  &__main { // logos.
    @include clearfix;
    padding-left: $logo-width;
  }

  .main__logo { // logos.
    margin-left: -$logo-width;
    width: $logo-width;

    a {
      padding: 10px 15px;
      display: inline-block;
      vertical-align: top;
      outline: 0;
      font-size: 0;
    }
  }
}

/**
 * Header Logo.
 */
.main__logo {
  float: left;

  &--link {
    display: inline-block;
    vertical-align: top;
    outline: 0;
    font-size: 0;

    img {
      max-width: 100%;
    }
  }
}

/**
 * Header menu.
 */
.main__nav {
  @include clearfix;
  float: right;

  .navigation,
  .main__auth {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation {
  &__list {
    margin: 0;
    padding: 0;
    display: block;

    @include clearfix;
  }

  &__list li {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    list-style-type: none;

    &.current-menu-item,
    &.current-page-ancestor {
      text-transform: uppercase; // @TODO!
      font-weight: 600; // @TODO!
    }

    &:last-child {
      a {
        &::after {
          display: none;
        }
      }
    }
  }

  &__list a {
    display: block;
    padding: 25px 10px 20px;
    position: relative;

    &:hover {
      background-color: rgba($header--menus-background, 0.9);

      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      right: -2px;
      top: 24px;
      bottom: 23px;
      border-left: 2px solid rgba($header--menus-background, 0.3);
    }
  }
}

/**
 * Header Auth.
 */
.main__auth {
  margin-top: 10px;
  margin-right: -5px;
  position: relative;

  text-align: right;
  margin-left: 10px;
  min-width: $header--main-auth-min-width;

  .auth__visible {
    display: inline-block;
    padding: 7px 5px 3px 10px;
    border-radius: 20px 20px 0 0;
  }

  .auth__name,
  .auth__ico {
    font-size: $header--small-font-size;
    display: inline-block;
    vertical-align: middle;
  }

  .auth__name {
    padding-left: 5px;
    margin-right: 10px;
    padding-top: 4px;
  }

  .auth__link {
    margin-top: 3px;
    padding: 7px 20px 5px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: $header--small-font-size;
    font-weight: 600;
    border-radius: 20px;

    &:hover {
      background-color: $header--menus-background;
      color: $header--inverse-color;
    }
  }

  .auth__hidden {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    padding: 20px 15px 5px;
    background-color: rgba($header--menus-background, 0.9);
    border-radius: 20px 0 20px 20px;

    .auth__links {
      margin: 0;
      padding: 0;
      display: block;
    }

    .auth__links--item {
      margin: 0 0 10px;
      padding: 0;
      list-style-type: none;
    }

    .auth__links--link {
      display: block;
      white-space: nowrap;
    }
  }

  .auth__forgot {
    margin-top: 15px;
    text-align: center;

    &--link {
      font-size: $header--small-font-size;
      font-weight: 200;
      text-decoration: underline;
      color: $header--inverse-color;

      &:hover {
        color: $header--middle-color;
      }
    }
  }

  .auth__action {
    margin-top: 10px;
  }

  .auth__action--line {
    text-align: center;
    margin-bottom: 10px;
  }

  .auth__action--btn {
    display: inline-block;

    &.btn--big {
      width: 170px;
    }
  }

  svg {
    display: block;
    width: 36px;
    height: 28px;

    .cls-1,
    .cls-2 {
      fill: $header--default-color;
    }
  }

  // Opened menu.
  &.active {
    .auth__visible {
      padding: 7px 5px 5px;
      cursor: default; // @TODO.
      background-color: rgba($header--menus-background, 0.9); // @TODO. VARIABLE_COLOR
    }

    .auth__name {
      color: $header--inverse-color; // @TODO. VARIABLE_COLOR
    }

    .auth__link {
      background-color: transparent;
      color: $header--middle-color; // @TODO. VARIABLE_COLOR
    }

    .auth__hidden {
      display: block;
    }

    svg {
      .cls-1,
      .cls-2 {
        fill: $header--inverse-color;
      }
    }
  }

  // Auth form.
  .form__field {
    margin-top: 15px;

    &:first-child {
      margin-top: 5px;
    }

    &--input {
      height: 26px;
      font-size: $header--big-font-size;
      background-color: transparent;
    }

    &--placeholder {
      top: -1px;
      font-size: $header--big-font-size;
    }

    &.focus,
    &.not-empty {
      .form__field--placeholder {
        // @Animation.
        transform: translate(0, -10px) scale(0.8);
      }
    }
  }

  .form__message {
    text-align: center;
    font-size: $header--small-font-size;
    color: $header--inverse-color;
  }
  /**
   * OLD_FORM
   *
  .auth__form {
    input {
      width: 255px;
      height: 32px;
      line-height: 32px;
      box-sizing: border-box;

      padding: 6px 20px 3px;
      margin-bottom: 10px;
      text-align: center;
      font-weight: 200;
      outline: 0;
      border: 0 none;
      color: #000;
      background-color: #E0DFE0;
      border-radius: 20px;

      &[type="password"] {
        font-family: small-caption;
        letter-spacing: 3px;
      }
    }
    @include placeholder {
      letter-spacing: normal;
      text-transform: uppercase;
      font-family: $font-family-base;
      color: rgba(0, 0, 0, 0.5);
    };
  }
  */
}

/**
 * Header infobar.
 */
.header__info {
  margin-top: 70px; // @TODO.
  padding-bottom: 10px;

  @include clearfix;

  .info__breadcrumbs {
    float: left;
    font-size: 0;

    @include clearfix;

    &--path,
    &--count {
      display: inline-block;
      vertical-align: middle;
    }

    &--path {
      font-size: $header--big-title-font-size;
      line-height: 33px;
      color: $header--directory-color;
    }

    &--count {
      position: relative;
      margin-top: 1px;
      margin-left: 25px;
      padding-left: 25px;
      font-size: $header--big-font-size;
      line-height: 33px;

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 0;
        border-right: 1px solid rgba($header--directory-color, 0.3);
      }
    }
  }

  .info__search {
    float: right;

    @include clearfix;

    &--input,
    &--link {
      padding: 2px 10px 1px 10px;
    }

    &--input {
      float: left;
      width: 180px;

      font-size: $header--big-font-size;
      line-height: $header--search-height;
      color: $header--default-color;

      border-top: 1px solid $header--default-color;
      border-bottom: 1px solid $header--default-color;
      border-left: 1px solid $header--default-color;
      border-right: 0 none;

      border-radius: 20px 0 0 20px;

      background-color: transparent;
      outline: 0;
    }

    @include placeholder {
      text-transform: uppercase;
      color: rgba($header--default-color, 0.4);
    }

    &--button {
      position: relative;
      float: left;
      display: block;

      &:hover {
        .info__search--link {
          background-color: $header--menus-background;
          color: $header--inverse-color;
        }

        &::after {
          display: none;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: -1px;
        top: 6px;
        bottom: 6px;
        border-left: 1px solid $header--default-color;
      }
    }

    &--link {
      cursor: pointer;
      padding-left: 15px;
      padding-right: 15px;
      display: block;
      outline: 0;
      background-color: transparent;
      color: $header--default-color;

      font-size: $header--search-button-font-size;
      line-height: $header--search-height;

      border-left: 0 none;
      border-top: 1px solid $header--default-color;
      border-bottom: 1px solid $header--default-color;
      border-right: 1px solid $header--default-color;

      border-radius: 0 20px 20px 0;
    }
  }
}

/**
 * --------------------------------------
 */

/**
 * Responsive.
 */
@media (max-width: $screen-md - 1) {
  $logo-width: 70px;

  .header {
    &_container {
      background-position: right bottom;
    }

    &__main { // logos.
      padding-left: $logo-width;
    }

    .main__logo { // logos.
      margin-left: -$logo-width;
      width: $logo-width;

      &--link {
        padding: 0;
        width: $logo-width;
        height: 130px;
        background: url("#{$path-images}/violin.png") 0 0 no-repeat;
        background-size: contain;

        img {
          display: none;
        }
      }
    }
  }

  .header__info {
    .info__breadcrumbs--path {
      color: #ffffff;

      &::after {
        border-right: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
  }
}
