/**
 * Defaults.
 */
html,
body {
  font-family: $font-family-base;
  font-weight: 300;
  line-height: 1.2;
  color: #232323;
}

h1 { // @TODO.
  margin: 30px 0 20px;
  font-size: 37px;
  font-weight: 400;
  color: #3a3129;
}

h2 { // @TODO.
  margin: 25px 0 15px;
  font-size: 32px;
  font-weight: 300;
  color: #3a3129;
}

p {
  margin: 1.2em 0;
}

a {
  color: #e4a445;

  &:hover {
    color: #967032;
  }
}

.section__head {
  h1,
  h2 {
    font-weight: 300;
    margin-bottom: 0;
  }

  p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.section__body {
  padding: 35px 0 50px;

  &--material {
    padding-top: 0;
  }

  &--404 {
    padding-top: 0;
  }
}

.section__no-pad {
  padding: 0;
}

.head {
  &__content {
    margin-left: ceil(($grid-gutter-width / -2));
    margin-right: floor(($grid-gutter-width / -2));
    border-bottom: 1px dotted #b6b6bb;

    &--padding {
      padding: 25px ($grid-gutter-width * 1.5) 10px;

      @extend .head__content;
    }

    h1 {
      margin: 0;
    }
  }

  &__additional {
    .head__title {
      display: inline-block;
      font-size: 37px;
    }

    span {
      position: relative;
      margin-left: 20px;
      padding-left: 20px;
      padding-bottom: 7px;
      display: inline-block;
      vertical-align: bottom;
      font-size: 20px;
      font-weight: 400;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: -6px;
        bottom: 6px;
        border-left: 1px solid rgba(35, 35, 35, 0.5);
      }
    }
  }

  &__helper {
    position: relative;

    .helper {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -12px;
    }
  }
}

.helper {
  font-size: 0;

  &__main,
  &__description {
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  &__main {
    font-size: 0;

    a {
      display: block;
      color: #232323;
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;
      opacity: 0.5;

      svg,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        position: relative;
        bottom: 1px;
        margin-right: 5px;
      }

      &:hover {
        opacity: 1;
      }
    }

    &--back {
      @extend .helper__main;

      a {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__description {
    margin-left: 15px;
    padding-left: 15px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -2px;
      bottom: 0;
      display: block;
      border-left: 1px solid #232323;
    }
  }
}

.post {
  &__list {
    margin-top: 45px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__item {
    padding: 0 $grid-gutter-width;
    padding-left: $grid-gutter-width/2;

    &:first-child {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width/2;
    }
  }

  &__image {
    img {
      width: 100%; // @todo
    }
  }

  &__body {
    padding: 0 15px;
  }

  &__title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
  }

  &__date {
    font-size: 14px;
    text-align: right;

    &--single {
      float: left;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__more {
    a {
      text-decoration: none;
      font-weight: 400;
    }
  }

  &__text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.25;
    color: #8c8f94;

    &--single {
      font-size: 20px;
      line-height: 1.35;
    }
  }

  &__back {
    float: right;
    line-height: 19px;

    a {
      display: inline-block;
      color: #232323;
      text-decoration: none;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      svg,
      span {
        display: inline-block;
        vertical-align: middle;
      }

      svg {
        margin-right: 10px;
      }

      span {
        padding-top: 2px;
      }
    }
  }

  &__footer {
    padding-top: 55px;

    @include clearfix;
  }
}

.main {
  position: relative;

  @include clearfix;

  &__left {
    padding-right: 30px;
    padding-bottom: 45px;
    float: left;
    width: 76%;
    box-sizing: border-box;
  }

  &__right {
    padding-left: 30px;
    padding-bottom: 45px;
    float: left;
    width: 24%;
    box-sizing: border-box;

    .lessons__widget--list {
      padding: 0;
    }

    .lessons__widget--item {
      margin-top: 20px;
      padding: 0;
      width: 100%;

      &:first-child {
        margin-top: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      bottom: 0;
      margin-left: -30px;
      border-left: 1px solid #b6b6bb;
    }
  }
}

.search {
  .post__item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px dotted #b6b6bb;

    &:first-child {
      padding-top: 0;
      border-top: 0 none;
    }
  }
}

.not_found_404 {
  img {
    display: block;
    margin: -1px auto 0;
  }

  &-btn {
    margin-top: 55px;
    text-align: center;

    a {
      padding-left: 55px;
      padding-right: 55px;
      display: inline-block;
      text-decoration: none;
    }
  }
}

@media (max-width: $screen-md - 1) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 22px;
  }
}
