@font-face {
  font-family: "Circe";
  src: url("#{$path-font}/Circe-Regular.eot");
  src: local("Circe"),
    local("Circe-Regular"),
    url("#{$path-font}/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("#{$path-font}/Circe-Regular.woff") format("woff"),
    url("#{$path-font}/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("#{$path-font}/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"),
    local("Circe-ExtraLight"),
    url("#{$path-font}/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("#{$path-font}/Circe-ExtraLight.woff") format("woff"),
    url("#{$path-font}/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("#{$path-font}/Circe-Thin.eot");
  src: local("Circe Thin"),
    local("Circe-Thin"),
    url("#{$path-font}/Circe-Thin.eot?#iefix") format("embedded-opentype"),
    url("#{$path-font}/Circe-Thin.woff") format("woff"),
    url("#{$path-font}/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("#{$path-font}/Circe-Light.eot");
  src: local("Circe Light"),
    local("Circe-Light"),
    url("#{$path-font}/Circe-Light.eot?#iefix") format("embedded-opentype"),
    url("#{$path-font}/Circe-Light.woff") format("woff"),
    url("#{$path-font}/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("#{$path-font}/Circe-Bold.eot");
  src: local("Circe Bold"),
    local("Circe-Bold"),
    url("#{$path-font}/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("#{$path-font}/Circe-Bold.woff") format("woff"),
    url("#{$path-font}/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  src: url("#{$path-font}/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"),
    local("Circe-ExtraBold"),
    url("#{$path-font}/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("#{$path-font}/Circe-ExtraBold.woff") format("woff"),
    url("#{$path-font}/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
