// Input, Textarea
.form__field {
  // Form variables.
  $form-field-size-small: 28px;
  $form-field-font-size-small: 16px;

  $form-field-size-medium: 32px;
  $form-field-font-size-medium: 19px;

  $form-field-size-large: 36px;
  $form-field-font-size-large: 21px;

  $form-field-default-size: $form-field-size-medium;
  $form-field-default-textarea-size: $form-field-size-medium * 5;
  $form-field-default-font-size: $form-field-font-size-medium;

  $form-field-placeholder-color: rgba(0, 0, 0, 0.5);
  $form-field-placeholder-color-focus: rgba(0, 0, 0, 0.5);
  $form-field-input-color: #3a3129;
  //$form-field-input-color: #000;
  position: relative; // For errors.


  // Form elements.
  &--label {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;

    // Size control.
    //height: $form-field-default-size; //@TODO

    // Border
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;

      height: 2px;
      width: 0;

      transition: width 0.3s ease-in-out;
    }
  }

  &--placeholder {
    position: absolute;
    z-index: 200;
    left: 0;
    top: 2px;

    // Size control.
    font-size: $form-field-default-font-size;
    font-weight: 200;

    // Theme control.
    color: $form-field-placeholder-color;

    // @Animation.
    transition: transform 0.5s;
    transform: translate(0, 5px);
    transform-origin: 0 0;
  }

  &--input {
    // @Reset defaults.
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0 solid transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // @New defaults.
    position: relative;
    z-index: 2;
    vertical-align: top;

    // Size control.
    width: 100%;
    height: $form-field-default-size;
    font-size: $form-field-default-font-size;
    font-weight: 300;
    box-sizing: border-box;

    // Theme control.
    color: $form-field-input-color;
    //background: #f3cbcb;

    &[type="password"] {
      font-family: "small-caption", serif;
      letter-spacing: 3px;
    }
  }

  &--textarea {
    // @Reset defaults.
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0 solid transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    resize: none;
    overflow: auto;
    white-space: nowrap;

    // @New defaults.
    position: relative;
    z-index: 2;
    vertical-align: top;

    // Size control.
    width: 100%;
    height: $form-field-default-textarea-size;
    font-size: $form-field-default-font-size;
    line-height: $form-field-default-size;
    font-weight: 300;
    box-sizing: border-box;

    // Theme control.
    color: $form-field-input-color;
  }

  // Reset width from jQuery UI (resizable)
  .ui-wrapper {
    &,
    & textarea {
      width: 100% !important;
    }
  }

  // Textarea resize hndler
  .ui-resizable-handle {
    cursor: se-resize;
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: block;
    border-width: 10px 10px 0 0;
    border-color: transparent #666666 transparent transparent;
    border-style: dashed solid dashed dashed;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  }

  // Focus control.
  &.focus,
  &.not-empty {
    .form__field--placeholder {
      // Theme control.
      color: $form-field-placeholder-color-focus;

      // @Animation.
      transform: translate(0, -15px) scale(0.8);
      transform-origin: 0 0;
    }
  }

  // Form states.
  &.focus,
  &.focus.error {
    .form__field--label::after {
      background: #e4a445;
      width: 100%;
    }
  }

  &.error {
    .form__field--label::after {
      background: red;
      width: 100%;
    }
  }

  &.success {
    .form__field--label::after {
      background: #37b24d;
      width: 100%;
    }
  }
}

// Checkbox
.form__checkbox {
  &--label {
    position: relative;
  }

  &--input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .form__checkbox--text::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 2px;
      width: 10px; //@todo.
      height: 10px; //@todo.
      background-color: #e4a445;
      border-radius: 2px;
    }
  }

  &--text {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    color: #3a3129;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 12px; //@todo.
      height: 12px; //@todo.
      border: 1px solid #b6b6bb;
      border-radius: 2px;
    }
  }
}

// Radio
.form__radio {
  &--label {
    position: relative;
  }

  &--input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked + .form__radio--text::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 3px;
      width: 11px; //@todo.
      height: 11px; //@todo.
      background-color: #e4a445;
      border-radius: 100%;
    }
  }

  &--text {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 19px;
    font-weight: 300;
    color: #3a3129;

    &::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      width: 15px; //@todo.
      height: 15px; //@todo.
      border: 1px solid #b6b6bb;
      border-radius: 100%;
    }
  }
}

// Buttons
.btn {
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  background-color: $theme-color-light;
  color: $theme-color-dark;

  @at-root input#{&} {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-weight: 300;
    border: 0 none;
    outline: 0;
  }

  &:hover {
    background-color: $theme-color-medium;
    color: $main-color-light;
  }

  &--small {
    padding: 6px 25px 4px;
    font-size: 10px;
    border-radius: 11px; // @TODO.
  }

  &--medium {
    padding: 7px 20px 5px;
    font-size: 12px;
    border-radius: 11px; // @TODO.
  }

  &--big {
    padding: 10px 20px 7px;
    font-size: 17px;
    border-radius: 20px; // @TODO.
  }

  &--over-size {
    padding: 18px 85px 12px;
    font-size: 31px;
    border-radius: 30px; // @TODO.
  }

  &--forum {
    padding: 10px 30px 7px;
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    text-transform: none;
    border-radius: 20px;
  }

  &[disabled] {
    background: #cccccc;

    &:hover {
      color: $theme-color-dark;
    }
  }
}

// Play video button
.play-video {
  $play-video-width: 80px;
  $play-video-height: 80px;
  $play-video-border: 3px;

  $play-video-triangle-width: 26px;
  $play-video-triangle-height: 34px;

  display: block;
  position: relative;

  &:hover {
    .play-video__button {
      outline: 0;
      border-color: #ffffff;
      background-color: rgba(115, 133, 159, 0.5);
      transition: all 0s;
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: - ( $play-video-height / 2);
    margin-left: - ( $play-video-width / 2);
    padding: 0;
    z-index: 2;

    display: block;
    height: $play-video-height;
    width: $play-video-width;
    cursor: pointer;
    box-sizing: border-box;

    opacity: 1;
    border: $play-video-border solid #ffffff;
    border-radius: 100%;
    background-color: rgba(40, 40, 40, 0.75);
    transition: all 0.4s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: - ( $play-video-triangle-height / 2);
      margin-left: - ( $play-video-triangle-width / 3);

      width: 0;
      height: 0;
      border-style: solid;
      border-width: ($play-video-triangle-height / 2) 0 ($play-video-triangle-height / 2) $play-video-triangle-width;
      border-color: transparent transparent transparent #ffffff;
    }
  }

  &__text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

// Errors
.reg-field__popup {
  animation: fadeIn 0.2s ease-in;
  z-index: 800;
  top: -51%;
  right: -234px;
  width: 230px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.reg-field__popup,
.reg-field__popup::before {
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.reg-field__popup::before {
  left: -5px;
  top: 20px;
  content: "";
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
}

.form__popup-error,
.form__login-suggest {
  width: 190px;
}

.form__popup-error,
.form__popup-text {
  position: relative;
  padding: 20px;
  font-size: 13px;
  background: #ffffff;
}

.form__popup-text {
  box-sizing: border-box;
  max-width: 260px;
  color: #999999;
}

.suggest__description-text {
  display: block;
  margin: 5px 0;
  color: #999999;
}

.error-message {
  color: red;
  font-size: 15px;
  font-weight: 400;
}
