//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  @include container-fixed;

  width: $screen-md - $grid-gutter-width;

  @media (max-width: $screen-md - 1) {
    width: $screen-md-max;
  }

  // TODO!.
  //width: $screen-lg - $grid-gutter-width;
  //
  //@media (max-width: $screen-lg - 1) {
  //  width: $screen-lg-max;
  //}
  //@media (max-width: $screen-md - 1) {
  //  width: $screen-md-max;
  //}
}


// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.

.container-fluid {
  @include container-fixed;
}


// Row
//
// Rows contain and clear the floats of your columns.

.row {
  @include make-row;
}

@include make-grid($grid-columns, md);
