.section__border {
  margin-top: 10px;
  $border-section-column-separator-width: $grid-gutter-width;

  &--system {
    margin-left: floor(($grid-gutter-width / -2));
    margin-right: ceil(($grid-gutter-width / -2));
    padding-left: floor(($grid-gutter-width / 2));
    padding-right: ceil(($grid-gutter-width / 2));
    border-top: 1px dotted #b6b6bb;
    position: relative;
  }

  &--bar,
  &--content {
    float: left;
    padding-left: floor(($grid-gutter-width / 2));
    padding-right: ceil(($grid-gutter-width / 2));
    box-sizing: border-box;
  }

  &--bar {
    width: 30%;
    padding-right: $border-section-column-separator-width;
  }

  &--content {
    width: 70%;
    padding-left: $border-section-column-separator-width;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      bottom: 0;

      margin-left: -$border-section-column-separator-width;

      border-left: 1px solid #b6b6bb;
    }
  }

  &--title {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    color: #3a3129;
  }

  &--more {
    margin-top: 35px;
    padding-bottom: 20px;

    a {
      text-decoration: none;
      color: #e4a445;

      &:hover {
        color: #967032;
      }
    }
  }
}

.section__faq {
  &--list {
    margin-top: 40px;
  }

  &--item {
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
  }

  &--question {
    font-weight: 400;
    text-decoration: none;
    color: #201600;
  }

  &--answer {
    font-size: 12px;
    line-height: 1.3;
    color: #8c8f94;
  }
}

.page__menu {
  margin-left: ceil(($grid-gutter-width / -2));
  margin-right: floor(($grid-gutter-width / -2));
  border-bottom: 1px solid rgba(182, 182, 187, 0.5);

  &--list {
    text-align: center;
    margin: 0;
    padding: 20px floor(($grid-gutter-width / 2)) 10px ceil(($grid-gutter-width / 2));
    display: block;
    font-size: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 20px;

      &.current_page_item {
        a {
          font-weight: 600;
          color: #967032;
        }
      }

      &:first-child {
        a::after {
          display: none;
        }
      }
    }

    a {
      position: relative;
      display: block;
      padding: 15px 39px;
      line-height: 1;
      text-decoration: none;
      color: #232323;

      &:hover {
        color: #e4a445;
      }

      &::after {
        content: "";
        position: absolute;
        top: 17px;
        bottom: 20px;
        left: 0;
        border-left: 1px solid #232323;
      }
    }
  }
}

.section__nav {
  position: relative;

  &--help {
    position: absolute;
    bottom: 5px;
    right: 30px;
    font-size: 20px;

    .btn {
      display: inline-block;
      padding-left: 50px;
      padding-right: 50px;
      text-decoration: none;
      text-transform: none;

      opacity: 1;
    }

    a {
      color: #232323;
      text-decoration: none;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      svg {
        .st2 {
          font-size: 16px;
        }
      }
    }

    span {
      position: relative;
      margin-left: 15px;
      padding-left: 15px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -2px;
        bottom: 0;
        border-left: 1px solid #232323;
      }
    }
  }
}

.pager__nav {
  &--list {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 0;
  }

  &--item {
    margin: 0 7px;
    padding: 0;
    vertical-align: middle;
    display: inline-block;
    list-style-type: none;
    font-size: 17px;

    &.active {
      .pager__nav--link {
        opacity: 1;
        border: 1px solid #232323;
        border-radius: 100%;

        &:hover {
          color: #232323;

          svg {
            fill: #232323;
          }
        }
      }
    }
  }

  &--link {
    display: block;
    text-align: center;
    padding: 1px 0 0;
    height: 27px;
    width: 27px;
    line-height: 27px;
    box-sizing: border-box;

    text-decoration: none;
    color: #232323;
    transition: all ease 0.5s;
    opacity: 0.5;

    svg {
      padding-top: 2px;
      display: inline-block;
      height: 19px;
      transition: all ease 0.5s;
    }

    &:hover {
      opacity: 1;
      color: #e4a445;

      svg {
        fill: #e4a445;
      }
    }
  }

  &--prev,
  &--next,
  &--first,
  &--last {
    margin: 0 10px;
  }

  &--first {
    margin-right: 15px;
  }

  &--last {
    margin-left: 15px;
  }
}
