//== Grid variables
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns: 12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 30px !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// @TODO!.
// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs - $grid-gutter-width !default;

// @TODO!.
// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-max:              $screen-sm - $grid-gutter-width !default;

// --------------------------------------------------
// Medium screen / desktop
$screen-md:                  1024px !default;
$screen-md-max:              $screen-sm - $grid-gutter-width !default;

// Large screen / wide desktop
$screen-lg:                  1280px !default;
$screen-lg-max:              $screen-md - $grid-gutter-width !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base: "Circe", sans-serif !default;

$font-size: 12px !default;

$font-size-less: ($font-size * 0.834); // 10px
$font-size-small: ($font-size * 0.917); // 11px

// Header default font-size
$font-size-larger: ($font-size * 1.083); // 13px

$font-size-larger-big: ($font-size * 1.166); // 14px

// --- --- //

$font-size-title-less: ($font-size * 1.416); // 17px
$font-size-title-small: ($font-size * 1.666); // 20px


$theme-color-light: #e4a445;
$theme-color-medium: #967032;
$theme-color-dark: #3a3129;

$main-color-light: #ffffff;
$main-color-gray: #e0dfe0;
$main-color-gray-light: #f8f8f9;
$main-color-dark: #000000;

// Paths
//
// Font, images
$path-font: "assets/fonts";
$path-images: "assets/images";

// --------------------------------------------------
//== Header variables
//
// Color scheme.
$header--default-color: #ffffff;
$header--middle-color: #967032;
$header--inverse-color: #3a3129;
$header--directory-color: #232323;
$header--menus-background: #ffffff;

// Font size.
$header--small-font-size: 12px;
$header--default-font-size: 14px;
$header--big-font-size: 16px;

$header--small-title-font-size: 18px;
$header--default-title-font-size: 20px;
$header--big-title-font-size: 28px;

// Other variables.
$header--main-auth-min-width: 140px;
$header--search-height: $header--big-font-size * 1.6;
$header--search-input-font-size: $header--big-font-size;
$header--search-button-font-size: $header--small-font-size;
//
//== Header variables
// --------------------------------------------------
